<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dota_hero.name %>
</p>

<p>
  <strong>Main attribute:</strong>
  <%= @dota_hero.main_attribute %>
</p>

<p>
  <strong>Str base:</strong>
  <%= @dota_hero.str_base %>
</p>

<p>
  <strong>Str gain:</strong>
  <%= @dota_hero.str_gain %>
</p>

<p>
  <strong>Agi base:</strong>
  <%= @dota_hero.agi_base %>
</p>

<p>
  <strong>Agi gain:</strong>
  <%= @dota_hero.agi_gain %>
</p>

<p>
  <strong>Int base:</strong>
  <%= @dota_hero.int_base %>
</p>

<p>
  <strong>Int gain:</strong>
  <%= @dota_hero.int_gain %>
</p>

<p>
  <strong>Movement speed:</strong>
  <%= @dota_hero.movement_speed %>
</p>

<p>
  <strong>Armor:</strong>
  <%= @dota_hero.armor %>
</p>

<p>
  <strong>Dmg min:</strong>
  <%= @dota_hero.dmg_min %>
</p>

<p>
  <strong>Dmg max:</strong>
  <%= @dota_hero.dmg_max %>
</p>

<p>
  <strong>Attack range:</strong>
  <%= @dota_hero.attack_range %>
</p>

<p>
  <strong>Base attack time:</strong>
  <%= @dota_hero.base_attack_time %>
</p>

<p>
  <strong>Attack point:</strong>
  <%= @dota_hero.attack_point %>
</p>

<p>
  <strong>Attack backswing:</strong>
  <%= @dota_hero.attack_backswing %>
</p>

<p>
  <strong>Vision day:</strong>
  <%= @dota_hero.vision_day %>
</p>

<p>
  <strong>Vision night:</strong>
  <%= @dota_hero.vision_night %>
</p>

<p>
  <strong>Turn rate:</strong>
  <%= @dota_hero.turn_rate %>
</p>

<p>
  <strong>Collision size:</strong>
  <%= @dota_hero.collision_size %>
</p>

<p>
  <strong>Health regen:</strong>
  <%= @dota_hero.health_regen %>
</p>

<%= link_to 'Edit', edit_dota_hero_path(@dota_hero) %> |
<%= link_to 'Back', dota_heroes_path %>
