<%= form_tag("/chunker_submit", remote: true) do %>
    <%= submit_tag "Dick" %>
<% end %>

<div id="dildo"></div>

<%= link_to "Disker", root_path %><br>
<%= link_to "Jmínáci", chunker_subjects_path %><br>
<%= link_to "Slovíře", chunker_verbs_path %><br>
<%= link_to "Konečence", chunker_endings_path %><br>