<%= form_tag("/penis_enlargement", remote: true) do %>
    <div>
      <%= label_tag :disker, "Disker" %><br>
      <%= text_field_tag :disker %>
    </div>

    <div>
      <%= label_tag :victim, "Obeť" %><br>
      <%= text_field_tag :victim %>
    </div>

    <%= submit_tag "Diskuj" %>
<% end %>

<div id="dildo"></div>

<%= link_to "Soutěže", competitions_path %><br>
<%= link_to "Podst", nouns_path %><br>
<%= link_to "Příd", adjectives_path %><br>