<%= form_for(@chunker_verb) do |f| %>
  <% if @chunker_verb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chunker_verb.errors.count, "error") %> prohibited this chunker_verb from being saved:</h2>

      <ul>
      <% @chunker_verb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
