<p id="notice"><%= notice %></p>

<h1>Listing Chunker Verbs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chunker_verbs.each do |chunker_verb| %>
      <tr>
        <td><%= chunker_verb.name %></td>
        <td><%= link_to 'Show', chunker_verb %></td>
        <td><%= link_to 'Edit', edit_chunker_verb_path(chunker_verb) %></td>
        <td><%= link_to 'Destroy', chunker_verb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chunker verb', new_chunker_verb_path %>
