<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td>
          <div class="float_right_actions">
            <% if room.password_protected? %>
                <% if UserAuthenticatedForRoom.can_be_accessed_by(room, current_user) %>
                    <%= mi.lock_open.md_36.html({title: 'Protected by password, unlocked'}) %>
                <% else %>
                    <%= mi.lock.md_36.html({title: 'Protected by password, locked'}) %>
                <% end %>
            <% else %>
                <%= mi.public.md_36.html({title: 'Accessible by everyone'}) %>
            <% end %>
            <%= link_to mi.play_arrow.md_36, room %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
